version: '3'

services:
  db_brisapix_prod:
    image: postgres
    container_name: brisapix_prod_database
    restart: always
    networks:
      - brisapix
    env_file:
      - ./envs/.env.prod
    expose:
      - "5432"
  
  brisapix_api:
    build: .
    restart: always
    networks:
      - brisapix
    ports:
      - "${API_PORT}:${API_PORT}"

networks:
  brisapix: